<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            
			<form class="login">

                <span><h1 style="text-align: center;padding-top: 20px;"> UPDATE STUDENT DETAILS</h1></span>
                <div class="login__id" >
				<label>Id:&nbsp;</label>
					<input type="text" class="login__input">
                    <button routerLink="/home" routerLinkActive="active" class="button login__submit1" >
                        <span class="button__text" >Load Record</span>
                        
                    </button>	
                </div>
               
				<div class="login__field">
                
					
					<label>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<input type="text" class="login__input1">
				</div>
				<div class="login__field">
					
					<label>Phone no.:&nbsp;</label>
					<input type="text" class="login__input1" >
				</div>
				<div class="login__field">
					
					<label>Password:&nbsp;</label>
					<input type="text" class="login__input1">
				</div>
				
				<button routerLink="/home" routerLinkActive="active" class="button login__submit">
					<span class="button__text" >Update</span>
					
				</button>				
			</form>
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>