<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Table</h2>

<table>
  <tr>
    <th>Angular Version</th>
    <th>Year Of Release</th>
    
  </tr>
  <tr>
    <td>Angular 2</td>
    <td>2010</td>

  </tr>
  <tr>
    <td>Angular 3</td>
    <td>2011</td>
    
  </tr>
  <tr>
    <td>Angular 4</td>
    <td>2012</td>
  </tr>
  <tr>
    <td>Angular 5</td>
    <td>2013</td>
  </tr>
  <tr>
    <td>Angular 6</td>
    <td>2014</td>
  </tr>
  <tr>
    <td>Angular 7</td>
    <td>2015</td>
  </tr>
</table>

</body>
</html>
<p>
  {{newcomponent}}
</p>

<p>
  new-cmp works!
</p>
