<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            
			<form class="login">
                <span><h1> EXAMINATION SECTION</h1></span>
				<div class="login__field">
                    
					
					<label>Name:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Name">
				</div>
				<div class="login__field">
					
					<label>Id:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Id">
				</div>
				<div class="login__field">
					
					<label>Subject Name:&nbsp;</label>
					<input type="text" class="login__input1" placeholder="Subject Name">
				</div>
				<div class="login__field">
					
					<label>Date:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Date">
				</div>
				<div class="login__field">
					
					<label>Time:&nbsp;</label>
					<input type="text" class="login__input" placeholder="Time">
				</div>
				<div class="login__field">
					
					<label>Total Question:&nbsp;</label>
					<input type="text" class="login__input1" placeholder="Total Question">
				</div>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit">
					<span class="button__text" style="padding-left: 300px;">Next</span>
					<i class="button__icon fa fa-chevron-right"></i>
				</button>				
			</form>
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>