<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            <span><h1 style="text-align: center;padding-top: 20px;"> ADMIN SECTION</h1></span>
			<form class="login">
                <button routerLink="/addrules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Add Rules</span>
					
					
				</button>
                <button routerLink="/studentregister" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Add Student</span>
					
					
				</button>
                <button routerLink="/rules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Add Question</span>
					
					
				</button>  
                <button routerLink="/set" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Set Parameters</span>
					
					
				</button>
				
			</form>
			<form class="login">
                <button routerLink="/updaterules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Update Rules</span>
					
					
				</button>
                <button routerLink="/updatestudent" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Update Student</span>
					
					
				</button>
                <button routerLink="/rules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Update Question</span>
					
					
				</button>  
                <button routerLink="/rules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Result</span>
					
					
				</button>
				
				
			</form>
				
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
