<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            
			<form class="login">
                <div class="login__field">
                    Camera Access:
					
					<i  class="login__icon fa fa-camera" aria-hidden="true"></i>
				</div>
                <div class="login__field">
                    Microphone Access:
					<i class="login__icon fa fa-user"></i>
					
				</div>
				
			</form>
			<form class="login">
                <div class="photo">
                
				</div>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit1">
					<span class="button__text" >Take Photo</span>
				
				</button>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit1">
					<span class="button__text" >Retake Photo</span>
				
				</button>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Submit</span>
					
					
				</button>
				
			</form>
			<button routerLink="/rules" routerLinkActive="active" class="button login__submit">
				<span class="button__text" >Back</span>
				
				<i class="button__icon fa fa-chevron-right"></i>
			</button>
			<button routerLink="/test" routerLinkActive="active" class="button login__submit">
				<span class="button__text" >Proceed</span>
				
				<i class="button__icon fa fa-chevron-right"></i>
			</button>				
			<div class="social-login">
				<div class="social-icons">
					
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
