
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container">
	<div class="screen">
		<div class="screen__content">
            <span style="text-align: center;display: inline;"><h1> TEST</h1></span>
            <span style="float: right;display: inline;"><h1> Timer: <b>20:35</b></h1></span>
			<form class="login">
                
                <div class="login__field">
                    <b style="font-weight: 600;font-size: large;">1) What is the name of dgdh?</b>
					
				</div>
                <div class="login__field">
                    <input type="checkbox" class="checkbox-round" />a)hhhh
                    <input type="checkbox" class="checkbox-round" />b)kkkk
                    <input type="checkbox" class="checkbox-round" />c)llll
                    <input type="checkbox" class="checkbox-round" />d)iiiii
					
				</div>
               
                
			</form>
			<form class="login">
                Question/Attempt Selection
                <div class="photo">
                    <div class="circle">1</div>
                    <div class="circle">2</div>
                    <div class="circle">3</div>
                    <div class="circle">4</div>
                    <div class="circle">5</div>
				</div>
				<!-- <button routerLink="/rules" routerLinkActive="active" class="button login__submit1">
					<span class="button__text" >Take Photo</span>
				
				</button>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit1">
					<span class="button__text" >Retake Photo</span>
				
				</button>
				<button routerLink="/rules" routerLinkActive="active" class="button login__submit1" style="margin-left: 105px;">
					<span class="button__text" >Submit</span>
					
					
				</button> -->
				
			</form>
			<button routerLink="/rules" routerLinkActive="active" class="button login__submit" style="border: 1px solid #f44336;">
				<span class="button__text" >Mark For Review</span>
				
				
			</button>
			<button routerLink="/test" routerLinkActive="active" class="button login__submit" style="border: 1px solid #24a54f;">
				<span class="button__text" >Confirm</span>
				
				
			</button>				
            <button routerLink="/test" routerLinkActive="active" class="button login__submit" style="border: 1px solid #3659f4;">
				<span class="button__text" >Next</span>
				
				
			</button>
            <button routerLink="/result" routerLinkActive="active" class="login__submit1">
				<span class="button__text" >Submit Test</span>
				
				
			</button>	
			
		</div>
		
	</div>
</div>
